
body {
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

/* Common styles */
.border-bottom{
	border-bottom: 1px solid #CBCBCB;
}
/* menu */
.menu{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(255,255,255,0.3);
	height: 60px;
	box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 1);
	padding-top: 10px;
	color: #fff;
	transition: background-color 0.1s ease;
}
.menu-scrolled{
	color: #000;
	background-color: #fff;
	transition: background-color 0.5s ease,
				color 0.5s ease;
}
.menu-logo{
	background-image: url(http://placehold.it/150x50);
	height: 50px;
	width: 150px;
	float: left;
	margin-left: 75px;
}
.menu-nav{
	float: right;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	margin-right: 75px;
}
/* Nav items */
.menu-nav-item{
	display: inline-block;
	font-size: 16px;
	margin: 0px 15px;
	color: #ddd;
	transition: color;
}
.menu-nav-item:hover {
	color: #fff;
	transition: color 0.3s ease;
}
.menu-scrolled .menu-nav-item {
	color: #000;
}
.menu-scrolled .menu-nav-item:hover {
	color: #888;
}

/* header */
.header{
	height: 100%;
	background-color: #000;
	background:  
		url(../images/dots.png), 
		url(http://i.imgur.com/QWXaQiD.jpg);
	background-size: auto, cover; 
	/*background-size: cover;*/
	text-align: center;
}
#player{
	height: 100%;
}
.header-title{
	display: inline-block;
	font-weight: 300;
	font-size: 50px;
	color: #FFF;
	padding-top: 250px;
	width: 450px;
}
.header-subtitle{
/*	display: inline-block;*/
	font-weight: 200;
	font-size: 20px;
	color: #FFF;
	padding-top: 40px;
}

/* about */
.about{
	padding-top: 100px;
}
.about-title{
	text-align: center;
	font-size: 45px;
	margin: 0px 75px;
}
.about-subtitle{
	text-align: center;
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 50px;
	margin: 0px 75px;
}
.about-things{
	text-align: center;
	padding-bottom: 50px;
}
.about-thing{
	display: inline-block;
	margin: 15px;
	max-width: 330px;
}
.about-thing-image{
	display: inline-block;
	height: 200px;
	width: 200px;
	background-image: url(http://i.imgur.com/OmG54bu.png);
	background-position: center;
	background-repeat: no-repeat;
}
.about-thing-title{
	font-size: 25px;
}
.about-thing-desc{
	margin-top: 15px;
	color: #727272;

}

/* Articles */
.articles{

}
.article{
	height: 500px;
	text-align: center;
	color: #FFF;
	background-size: cover;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
.future-of-software{
	background-image: url(http://i.imgur.com/t5uue.jpg);
}
.another-article{
	background-image: url(http://i.imgur.com/0UC1COj.gif);
}
.article-title{
	padding-top: 200px;
	font-size: 50px;
	font-weight: 300;
}
.article-subtitle{
	padding-top: 15px;
	font-size: 25px;
	font-weight: 100;
}

/* Contact */
.contact{
	height: 500px;
	text-align: center;
	/*background-image: url(../images/dots.png);*/
}
.contact-title{
	font-size: 45px;
	padding-top: 100px;
}
.contact-form{
	padding-top: 25px;
}
.contact-input{
	padding: 0px 5px;
	margin: 0px;
	height: 48px;
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	border: 1px solid #CBCBCB;
	border-radius: 5px;
}
.contact-input:focus{
	outline: none;
}
.contact-button{
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	margin: 0px;
	padding: 0px 20px;
	border-radius: 5px;
	background-color: #FFF;
	border: 1px solid #CBCBCB;
	height: 48px;
	vertical-align: -1px;
	font-weight: 300;
}
.contact-button:hover{
	background-color: #DDD;
}
.contact-button:active{
	background-color: #BBB;
}
.contact-button:focus{
	outline: none;
}
.contact-icons{
	padding-top: 50px;
	font-size: 60px;
}
.contact-icon{
	padding: 15px;
}
.contact-icon:hover {
	color: #6E6E6E;
	transition: color 0.3s ease;
}